body {
    color: #000;
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4mm;
    text-align: justify;
}

h1 {
    font-size: 6mm;
}

h2 {
    font-size: 5mm;
}

.title, .subtitle {
    text-align: center;
}

.title {
    font-size: 8mm;
}

.literal-block {
    color: #006;
    background-color: #ddd;
    font-family: courier, monospace;
    font-size: 3.5mm;
    border: 1px dashed gray
}

.literal {
    color: #006; font-family: courier, monospace
}

.literal-block {
    margin-left:  10%; margin-right: 10%;
    padding: 1ex
}

div.document {
    background:#fff;
    margin:5px; 
    padding:10px;
}

a:link {
    color: #5555FF;
    text-decoration: none
}

a:visited {
    color: #FF5555;
    text-decoration: underline;
}

a:hover {
    color: #55FF55;
    text-decoration: none;
}

a:active {
    color: #555555;
    text-decoration: none;
}

